#edit-matomo-end-date-datepicker-popup-0 + div {
	display : none;
}

label[for="edit-matomo-start-date"], label[for="edit-matomo-end-date"] {
	float: left;
	margin-top: 3% !important;
	margin-right: 8px;
}

label[for="edit-matomo-start-date-datepicker-popup-0"], label[for="edit-matomo-end-date-datepicker-popup-0"] {
	display : none;
}

#edit-matomo-filters > div > div.container-inline-date > div, #matomo-report-end-date-wrapper > div > div {
	margin-top: -5px;
}

.tabs li {
	font-size: smaller;
}

ul.primary {
	height: auto !important;
}

#page > div.tabs-secondary.clearfix > ul > li {
	margin: 0 2px;
}

ul > li > a {
	padding: 0 15px 0px !important;
}

#edit-matomo-filters > div > div.container-inline-date, #edit-matomo-filters > div > div.form-item.form-type-select.form-item-period > label, #edit-matomo-filters > div > div.form-item.form-type-select.form-item-period-or-date > label
, #edit-submit {
	margin-left: 20px;
}

#matomo-report-end-date-wrapper {
	margin-left: 10px;
}

#edit-matomo-filters > div > div.form-item.form-type-select.form-item-site > label {
    margin-right: 5px;
}

#edit-matomo-filters > div > div.container-inline-date > div > label {
	margin-right: 8px;
}

#edit-period-or-date, #edit-period {
    margin-left: 5px;
}

#edit-matomo-filters > div > div.form-item.form-type-select.form-item-period {
	margin-right: -20px;
}
